/* 
css battle!!! 
*/




/* 
    <div class="wrapper">
        <div class="shape">
            <div class="center"></div>
            <div class="side left"></div>
            <div class="side right"></div>
        </div>
    </div>

<style>
body {
    background: #C0DFF6;        
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.shape {
    position: relative;
    width: 500px;
    height: 220px;
    background: #29357A;        
}

.center {
    position: absolute;
    width: 260px;
    height: 200px;
    background: #5A8EBA;        
    top: 10px;
    left: 120px;
}

.side {
    position: absolute;
    width: 70px;
    height: 110px;
    background: #29357A;       
}

.side.left {
    left: 30px;
    bottom: 0;
}

.side.right {
    right: 30px;
    bottom: 0;
}

.side.left::after,
.side.right::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #5A8EBA;        
    top: 30px;
    left: 10px;
}
</style> */
