  /* <div class="face">
    <div class="brow"></div>
    <div class="eyes">
      <div class="eye"></div>
      <div class="eye"></div>
    </div>
    <div class="mouth"></div> */
body {
  background-color: #fae8b0; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.face {
  position: relative;
  width: 300px;
  height: 300px;
}

.brow {
  width: 160px;
  height: 60px;
  background-color: #2d2d2d;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  position: absolute;
  top: 60px;
  left: 70px;
}

.eyes {
  display: flex;
  justify-content: space-between;
  width: 120px;
  position: absolute;
  top: 80px;
  left: 90px;
}

.eye {
  width: 50px;
  height: 50px;
  background-color: #2d2d2d;
  border-radius: 50%;
}

.mouth {
  width: 160px;
  height: 80px;
  background-color: #2d2d2d;
  border-radius: 50px;
  position: absolute;
  top: 180px;
  left: 70px;
}
